body{
    background-image:linear-gradient(to right,pink,blue) ;
   display: flex;
   text-transform: capitalize;
   padding: 50px;
}
#login{
    background-color:rgba(211, 168, 157, 0.226);
    color:black;
    width:fit-content;
    padding: 30px;
    margin: 22px;
    border-style: solid;
    border-radius: 20px;
    display: block;
    border-color: black;
}input:not(#bar){
    color: black;
    background-color: transparent;
    border-style:solid;
    border-color: black;
    border-radius: 8px;
    padding: 10px;
}table{
    border-collapse: collapse;
    width: 100%;
    height:40px;
    color:black;
}
th,td{
    border: 2px solid black;
    width: 100px;
    height: 60;
    text-align: center;
    font-size:bold;
}
#table{
    display: flex;
    border-style: solid;
    border-color: black;
}#log{
    background-color: blue;
    color:white;
}