.topnav{
background-image:linear-gradient(to right pink,skyblue);
overflow:hidden;
text-transform: capitalize;
}
.topnav a {
float:left;
color:white;
text-align:center;
padding:14px 16px;
text-decoration:none;
font-size:17px;
}
.topnav a:hover{
background-color:white;
color:black;
}
body{
    background-image:linear-gradient(to right,pink,skyblue) ;
    text-align: center;
    text-transform: capitalize;
}p{
    padding:20px;
    margin: 65px;
    font-size: 15px;
    font-style: italic;
}h1{
    text-decoration: underline;
    font-style: italic;
    color:black;
}